@media screen and (max-device-width: 1070px) {
  .header-nav .form {
    width: 400px !important;
  }
  .header-nav {
    justify-content: flex-end !important;
  }
}

@media screen and (max-device-width: 830px) {
  .header-nav .form {
    width: 300px !important;
  }
}

@media screen and (max-device-width: 550px) {
  .header-nav .form {
    width: 200px !important;
  }
}

@media screen and (max-device-width: 430px) {
  .header-nav .form {
    width: 150px !important;
  }
}
